{hito:include="head.html"}
{hito:include="sidebar.html"}
<div class="content">
<div id="ad"></div>
<h1>Error</h1>
<br/>
<h2>404 – File not found</h2>
<br/>
<p>Can not find the information you need on the site</p>
<h2>You have several ways to get the information you need:</h2>
<br/>
<ol>
<li>Contact our online customer service(Quick Reply)</li>
<li>Leave us a message(Quick Reply)</li>
<li>Send us an email(Slow Reply)</li>
</ol>
<br/>
<h2>About Liming Heavy Industry</h2>
<p>Henan LIMING Heavy Industry Science and Technology Co. LTD which mainly manufacture large and medium-sized crushing and grinding equipments was founded in 1987. It is a modern joint-stock corporation with research, manufacturing and sales together. The Headquarter is located in HI-TECH Industry Development Zone of Zhengzhou and covers 80000 m ². Another workshop in Shangjie Industry Park covers 67000 m ². Over the past 26 years, our company adheres to modern scientific management system, precision manufacturing, pioneering and innovation. Now LIMING has become the leader in domestic and oversea machinery manufacturing industry.</p>
<img src="{hito:templateurl}/images/go_liming.jpg" alt="Liming Heavy Industry"/>
<p>
LIMING brings a large number of high-qualification talents together. Bai Yinghui, general research and development engineer, is a well-known expert in crushing and grinding area who won the youth medal of technology of the state council and receives special government allowance. LIMING owns an experienced service team, offering the customer free design and professional skill training and live guide for installation and debugging. The company's service networks have spread all over the country. Established client files, and mix the traditional door-to-door service with online service together, complementary the advantages. LIMING has won high recognition from clients.</p>
<img src="{hito:templateurl}/images/go_liming2.jpg" alt="Liming Heavy Industry"/>
<p>
The company mainly manufactures mobile crushers, stationary crushers, sand-making machines, grinding mills and complete plants that are widely used in mining, construction, highway, bridge, coal, chemical, metallurgy, refractory matter, etc. Product quality is life, and scientific innovation is motive power. LIMING got ISO international quality system certification, European Union CE certification and Russian GOST certification. The company has strong research and development strength and innovation.</p><p>
LIMING machinery research institute was founded in 2005 which is the most powerful comprehensive technological research institute in the domestic mining machinery industry and provides top scientific research platform for professional personnel. Up to now, LIMING has won 10 national patents, 24 national utility model patents and 3 provincial science and technology achievement awards. The company products remain the international leading level by strengthening international exchanges and cooperation all the time, and has won a wide range of international market, such as Russian, Azerbaijan, Kazakhstan, Turkey, Kuwait, South Africa, Egypt, Vietnam, Malaysia, India, Australia, Korea, Canada and European Union,etc.
</p>
<div class="msg">
<span class="title">Please Feel free to give your inquiry in the form below. We will reply you in 24 hours !</span>
<script src="{hito:templateurl}script/form.js"></script>	
</div>
</div>
</div>
</div>
{hito:include="footer.html"}
