<div class="footer">
<ul>
	<li class="right">
		<strong>Company Image Of Liming</strong>
		<video src="{hito:indexdir}uploads/Company-Image-Of-Liming.mp4" width="250" controls="controls"></video>
	</li>
	<li class="left">
		<strong>About Us</strong>
		<p>Liming Heavy Industry is a 100% manufacturer of crusher & mill and related products. It was founded in 1988 with the 20 years of experience in manufacturing crusher and mill , our main products are: jaw crusher, impact crusher, cone crusher, mobile crushing plant, hammer mill, ball mill, vertical mill, etc..</p>
		<a href="/1">>>More</a>
	</li>
	<li class="contact">
		<strong>Contact Us</strong>
		<a href="/1#contact"><img src="{hito:templateurl}images/map.jpg" alt="map"/></a>
		<a href="mailto:yht@break-day.net"><img src="{hito:templateurl}images/mail_bg.gif" alt="send mail"/></a><em>Email:yht@break-day.net</em>
		<span>Inquiry now</span><span>message</span>
		<div class="address"><b>Address:</b> No.169, Science (Kexue) Avenue, National HI-TECH Industry DEvelopment Zone, Zhengzhou, China.</div>
		</li>
</ul>
</div>
<div class="copy">
	<span id="copy">Copyright &copy; 2014 All Rights Reserved</span>
	<span id="powered">PoweredBy <em style="color:#e62d39">Hito</em></span>
</div>
<script src="{hito:templateurl}script/global.js"></script>
</body>
</html>
